# Scratch

In [7]:
import pandas as pd

In [8]:
d = {u'2012-06-08': 388,
 u'2012-06-09': 388,
 u'2012-06-10': 388,
 u'2012-06-11': 389,
 u'2012-06-12': 389,
 u'2012-06-13': 389,
 u'2012-06-14': 389,
 u'2012-06-15': 389,
 u'2012-06-16': 389,
 u'2012-06-17': 389,
 u'2012-06-18': 390,
 u'2012-06-19': 390,
 u'2012-06-20': 390,
 u'2012-06-21': 390,
 u'2012-06-22': 390,
 u'2012-06-23': 390,
 u'2012-06-24': 390,
 u'2012-06-25': 391,
 u'2012-06-26': 391,
 u'2012-06-27': 391,
 u'2012-06-28': 391,
 u'2012-06-29': 391,
 u'2012-06-30': 391,
 u'2012-07-01': 391,
 u'2012-07-02': 392,
 u'2012-07-03': 392,
 u'2012-07-04': 392,
 u'2012-07-05': 392,
 u'2012-07-06': 392}

In [18]:
params = {'dictionary': d,
          'colname': 'DateValue',
          'index_name': 'Date'} 

def dict_to_dataframe(dictionary, colname, index_name):
    dict_data = pd.Series(dictionary, name=colname)
    dict_data.index.name = index_name
    return pd.DataFrame(dict_data)

df = dict_to_dataframe(**params)

In [19]:
df

            DateValue
Date
2012-06-08        388
2012-06-09        388
2012-06-10        388
2012-06-11        389
2012-06-12        389
2012-06-13        389
2012-06-14        389
2012-06-15        389
2012-06-16        389
2012-06-17        389
2012-06-18        390
2012-06-19        390
2012-06-20        390
2012-06-21        390
2012-06-22        390
2012-06-23        390
2012-06-24        390
2012-06-25        391
2012-06-26        391
2012-06-27        391
2012-06-28        391
2012-06-29        391
2012-06-30        391
2012-07-01        391
2012-07-02        392
2012-07-03        392
2012-07-04        392
2012-07-05        392
2012-07-06        392

In [20]:
s = pd.Series(d, name='DateValue')
# s.index.name = 'Date'
# pd.DataFrame(s)

In [21]:
s

2012-06-08    388
2012-06-09    388
2012-06-10    388
2012-06-11    389
2012-06-12    389
2012-06-13    389
2012-06-14    389
2012-06-15    389
2012-06-16    389
2012-06-17    389
2012-06-18    390
2012-06-19    390
2012-06-20    390
2012-06-21    390
2012-06-22    390
2012-06-23    390
2012-06-24    390
2012-06-25    391
2012-06-26    391
2012-06-27    391
2012-06-28    391
2012-06-29    391
2012-06-30    391
2012-07-01    391
2012-07-02    392
2012-07-03    392
2012-07-04    392
2012-07-05    392
2012-07-06    392
Name: DateValue, dtype: int64

In [12]:

#s.reset_index()

            DateValue
Date
2012-06-08        388
2012-06-09        388
2012-06-10        388
2012-06-11        389
2012-06-12        389
2012-06-13        389
2012-06-14        389
2012-06-15        389
2012-06-16        389
2012-06-17        389
2012-06-18        390
2012-06-19        390
2012-06-20        390
2012-06-21        390
2012-06-22        390
2012-06-23        390
2012-06-24        390
2012-06-25        391
2012-06-26        391
2012-06-27        391
2012-06-28        391
2012-06-29        391
2012-06-30        391
2012-07-01        391
2012-07-02        392
2012-07-03        392
2012-07-04        392
2012-07-05        392
2012-07-06        392